workflows/Agentic AI For Content & Avatars/Replace Your $4k_mo Secretary.json
{
  "name": "🔥 Replace Your $4k/mo Secretary",
  "nodes": [
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "⭐️ Sponsorships",
              "description": "Businesses wanting me to do a sponsored video on my youtube channel"
            },
            {
              "category": "👀 Other "
            },
            {
              "category": "👋 Customer Query",
              "description": "A member of my skool community who is asking questions; they may wish to join or have membership questions"
            },
            {
              "category": "📈 Business Enquires ",
              "description": "Emails for potential clients, businesses that want to work with me, freelancers or anything of that nature"
            },
            {
              "category": "📉  Spam or Automated Messages",
              "description": "Any automatic replies, any emails from 'no-reply', confirmation emails and all of the like. These are non-value emails "
            },
            {
              "category": "📚 Skool",
              "description": "Sales from Skool, new subscribers or members"
            },
            {
              "category": "🔥 Personal",
              "description": "Anything of a non-business nature, for example personal life or selling a house, "
            },
            {
              "category": "🧾 Invoices & Receipts",
              "description": "invoices and receipts, any kind of bill"
            },
            {
              "category": "💷 Income",
              "description": "Anything around getting paid or commissions that isn't a new skiool member"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        840,
        840
      ],
      "id": "96fe2a64-9c82-4df7-b7ce-411e913f676d",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        840,
        1260
      ],
      "id": "8112d79f-d41a-4e9d-9769-e6d5163e0d0c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "9AEikzIsi0czD5oW",
          "name": "OpenAi account 16"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_7279187741576592274"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        1380
      ],
      "id": "c06c09f4-8bcb-4a36-894e-d3619bbc78fd",
      "name": "🧾 Invoice & Receipts",
      "webhookId": "ddc4bce0-1c4f-4c10-bc56-5acce4c63606",
      "credentials": {
        "gmailOAuth2": {
          "id": "VARz8tBAjDobMUh6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_9215444777243988535"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1240,
        1240
      ],
      "id": "0d794887-0d06-4271-a9c0-412f9c3e95f2",
      "name": "🔥 Personal",
      "webhookId": "ddc4bce0-1c4f-4c10-bc56-5acce4c63606",
      "credentials": {
        "gmailOAuth2": {
          "id": "VARz8tBAjDobMUh6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2621433167561053995"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1340,
        1080
      ],
      "id": "ef916193-a364-499d-b2ec-05e97ce61929",
      "name": "📚 Skool",
      "webhookId": "ddc4bce0-1c4f-4c10-bc56-5acce4c63606",
      "credentials": {
        "gmailOAuth2": {
          "id": "VARz8tBAjDobMUh6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_7836250468425075613"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1460,
        920
      ],
      "id": "611955f3-13d5-4fbd-8dba-692c4b77a4cb",
      "name": "📉 Spam or low priority",
      "webhookId": "ddc4bce0-1c4f-4c10-bc56-5acce4c63606",
      "credentials": {
        "gmailOAuth2": {
          "id": "VARz8tBAjDobMUh6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_6645766865136305696"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1480,
        740
      ],
      "id": "f4a345e3-c499-4e84-90b0-434294110060",
      "name": "📈 Business Enquires ",
      "webhookId": "ddc4bce0-1c4f-4c10-bc56-5acce4c63606",
      "credentials": {
        "gmailOAuth2": {
          "id": "VARz8tBAjDobMUh6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4513408332744255728"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1360,
        580
      ],
      "id": "49c12a34-2c0e-43b3-ad52-1eb82d728f9b",
      "name": "👋 Customer Query",
      "webhookId": "ddc4bce0-1c4f-4c10-bc56-5acce4c63606",
      "credentials": {
        "gmailOAuth2": {
          "id": "VARz8tBAjDobMUh6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_7479540386686675434"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1260,
        440
      ],
      "id": "c8e6500e-5e83-4bbe-b735-bd90d970a0da",
      "name": "👀 Other",
      "webhookId": "ddc4bce0-1c4f-4c10-bc56-5acce4c63606",
      "credentials": {
        "gmailOAuth2": {
          "id": "VARz8tBAjDobMUh6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_5482534176768459702"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1160,
        280
      ],
      "id": "95bcc4ba-d149-4cc1-a664-5bab8a24ebf6",
      "name": "⭐️ Sponsorships",
      "webhookId": "ddc4bce0-1c4f-4c10-bc56-5acce4c63606",
      "credentials": {
        "gmailOAuth2": {
          "id": "VARz8tBAjDobMUh6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        580,
        960
      ],
      "id": "c12c976e-3740-4fbc-8212-8e4234a89896",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "VARz8tBAjDobMUh6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 🤖 Classification Agent\n",
        "height": 1420,
        "width": 1420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        220
      ],
      "typeVersion": 1,
      "id": "2d8042fc-00f0-421d-9da4-92f4e92fa9a4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=From: {{ $('Gmail Trigger').item.json.from.value[0].address }}\nSubject: {{ $('Gmail Trigger').item.json.subject }}\nBody: {{ $('Gmail Trigger').item.json.text }}\n\n",
        "options": {
          "systemMessage": "=Core Requirement\nFor every incoming email (non-negotiable):\nYou must always produce a complete reply text that can be sent as a draft email using the Gmail draft reply tool.\nCreate the draft reply using this tool without exception.\nEven if the message is spam, irrelevant, or unclear — still produce a draft that:\n\nAnswers appropriately\n\nPolitely declines\n\nOr asks for clarification.\nNever skip producing a draft.\n\nProcess\n\nCheck Airtable first – Pull Jack’s latest rules, specifications, and key info for replying to certain topics/senders. These override all else unless they directly conflict with an explicit directive in this prompt.\n\nSearch Gmail – Look up previous messages to/from this sender. Summarise any relevant conversation history to keep context.\n\nApply Agent Memory – Use long-term stored insights about Jack’s preferences, tone, and past decisions.\n\nWrite the draft – Must be ready for Jack to send without changes, following rules + context above.\n\nSpecial Case – Scheduling\nIf the email mentions finding time, booking a call, or scheduling:\n\nCheck Jack’s Google Calendar for UK-time 15-minute slots (next 14 days).\n\nSuggest up to 3 clear options that don’t clash with existing events.\n\nMention that final scheduling will happen via the scheduling tool once confirmed.\n\nIf there’s no scheduling mention → ignore the calendar.\n\nPriorities\n\nAlways give a complete draft reply.\n\nFollow explicit Jack instructions first.\n\nFollow Airtable rules/specs.\n\nKeep tone and commitments in line with past conversations.\n\nIf no rule applies, use best judgment.\n\nStyle (Jack’s Voice)\n\nShort, remote — don’t pad emails.\n\nPlain-English level: write like you’re explaining to a 14–15-year-old.\n\nEmojis used sparingly, only where it helps tone or clarity.\n\nNew line for each sentence.\n\nEnd every email with:\n\n“Cheers Jack” or\n\n“Thanks Jack” (pick what feels natural for the context).\n\nConfident but friendly.\n\nMirror sender’s formality.\n\nOne clear next step/CTA when relevant.\n\nGuardrails\n\nNo hallucinations — if key info is missing, ask 1–2 direct questions in the reply.\n\nIf a request breaks a rule, decline politely and offer what’s allowed.\n\nStick to past agreements in the conversation history.\n\nOutput Format\nAll draft replies must be in HTML with proper tags + basic inline CSS for a professional look.\n\nUse semantic HTML (p, strong, ul, ol, etc.)\n\nKeep it clean and easy to read.\n\nAdd spacing between sentences for clarity.\neg\n\nExample 1 – Simple Info Request\n\nhtml\nCopy\nEdit\n<p>Hey 👋</p>\n<p>Thanks for the update.</p>\n<p>Can you confirm if you’ve got the file in PDF as well?</p>\n<p>That’ll make it easier for me to review.</p>\n<p>Cheers<br>Jack</p>\nExample 2 – Scheduling a Call\n\nhtml\nCopy\nEdit\n<p>Hey</p>\n<p>Let’s lock this in.</p>\n<p>Here are three 15-min slots that work on my end (UK time):</p>\n<ul>\n  <li>Tue 11th, 2:00pm</li>\n  <li>Thu 13th, 9:30am</li>\n  <li>Fri 14th, 4:00pm</li>\n</ul>\n<p>Let me know which one’s best 👍</p>\n<p>Thanks<br>Jack</p>\nExample 3 – Declining Politely\n\nhtml\nCopy\nEdit\n<p>Hey</p>\n<p>Appreciate you reaching out.</p>\n<p>It’s not something I can take on right now 🚫</p>\n<p>If that changes, I’ll let you know.</p>\n<p>Cheers<br>Jack</p>\n\n\nDate: {{$now}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2440,
        760
      ],
      "id": "fd98b230-4dd0-449d-8197-cce5b4226486",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "# 🚨 Criticality Agent",
        "height": 480,
        "width": 800,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3100,
        660
      ],
      "typeVersion": 1,
      "id": "d3925bd3-c374-4d8a-b8aa-64287a420d94",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# 🤖 Response Agent",
        "height": 480,
        "width": 760,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2180,
        660
      ],
      "typeVersion": 1,
      "id": "4a1d5793-3be8-42bf-8aea-5d663b4ad1c8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apppnJ364qIXzLcoP",
          "mode": "list",
          "cachedResultName": "Jack's Knowledge Base",
          "cachedResultUrl": "https://airtable.com/apppnJ364qIXzLcoP"
        },
        "table": {
          "__rl": true,
          "value": "tblLUmx1Y6azP8mUY",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/apppnJ364qIXzLcoP/tblLUmx1Y6azP8mUY"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        2760,
        960
      ],
      "id": "79a1003c-3ec9-4392-be2c-6d73cb851153",
      "name": "Search Knowledge",
      "credentials": {
        "airtableTokenApi": {
          "id": "U9c2cggYnLoCrorD",
          "name": "Use this token"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "sender": "={{ $('Gmail Trigger').item.json.headers.from }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2420,
        1000
      ],
      "id": "3a42efe9-0ba1-43bb-a3d2-acf5d2daed7e",
      "name": "Get Messages",
      "webhookId": "9cf29f47-0e37-42c9-9538-42961a003bf1",
      "credentials": {
        "gmailOAuth2": {
          "id": "7dtvcrq0jtwBOlX3",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2240,
        960
      ],
      "id": "738c931c-a491-4311-bd2a-131d678c72bb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IScOLzsa2Zm3BnzT",
          "name": "Use this API key"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=From: {{ $('Gmail Trigger').item.json.from.value[0].address }}\nSubject: {{ $('Gmail Trigger').item.json.subject }}\nBody: {{ $('Gmail Trigger').item.json.textAsHtml }}",
        "options": {
          "systemMessage": "=You are a criticality agent. Your job is to receive information from emails and determine whether or not they are important or critical. In other words, something that wants to be prioritized.\n\nIf you think that it is, you should send a webhook request using your webhook request tool to Jack. You are going to have the ability to search all emails, so you can get previous emails from that user. You can also search Airtable, which has previous context information. You must search Airtable and Gmail as a matter of course on every request.\n\nIf you think it is important, then make sure you send Jack a text message to Jack to check it out. There should be something that is time-sensitive in nature or particularly high-value (in other words, worth $4,000-$5,000 or higher) or something that may be of strategic value. \n\nTIME: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3380,
        760
      ],
      "id": "09ccbe83-7adf-4226-b31b-2abf2486edd2",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3240,
        980
      ],
      "id": "1c35222f-7bcc-492d-a551-169a4b0e6bf7",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "IScOLzsa2Zm3BnzT",
          "name": "Use this API key"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apppnJ364qIXzLcoP",
          "mode": "list",
          "cachedResultName": "Jack's Knowledge Base",
          "cachedResultUrl": "https://airtable.com/apppnJ364qIXzLcoP"
        },
        "table": {
          "__rl": true,
          "value": "tblLUmx1Y6azP8mUY",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/apppnJ364qIXzLcoP/tblLUmx1Y6azP8mUY"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        3700,
        960
      ],
      "id": "5206ead1-aef4-4d44-a87e-9e0a5a31a8ff",
      "name": "Search Knowledge1",
      "credentials": {
        "airtableTokenApi": {
          "id": "U9c2cggYnLoCrorD",
          "name": "Use this token"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "sender": "={{ $('Gmail Trigger').item.json.headers.from }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        3560,
        1000
      ],
      "id": "cf755d69-c3fd-4830-8d75-9fb26ec5ff0b",
      "name": "Get Messages1",
      "webhookId": "9cf29f47-0e37-42c9-9538-42961a003bf1",
      "credentials": {
        "gmailOAuth2": {
          "id": "7dtvcrq0jtwBOlX3",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Fire off an urgent response to Jack to check the email",
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/hooks/eD0Y8xCYSZc25DM2RSfS/webhook-trigger/95f18c41-757a-4a36-8a41-93ab521371a6",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $('Gmail Trigger').item.json.headers.from }}"
            },
            {
              "name": "subject",
              "value": "={{ $('Gmail Trigger').item.json.headers.subject }}"
            },
            {
              "name": "summary",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3400,
        1020
      ],
      "id": "18287e7f-df5d-4918-a2e4-757d49d34249",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apppnJ364qIXzLcoP",
          "mode": "list",
          "cachedResultName": "🧠 Jack's Knowledge Base",
          "cachedResultUrl": "https://airtable.com/apppnJ364qIXzLcoP"
        },
        "table": {
          "__rl": true,
          "value": "tblLUmx1Y6azP8mUY",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/apppnJ364qIXzLcoP/tblLUmx1Y6azP8mUY"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1460,
        2260
      ],
      "id": "fb8e55bd-137f-4b11-897c-26480344fbdc",
      "name": "Search Memory ",
      "credentials": {
        "airtableTokenApi": {
          "id": "U9c2cggYnLoCrorD",
          "name": "Use this token"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apppnJ364qIXzLcoP",
          "mode": "list",
          "cachedResultName": "🧠 Jack's Knowledge Base",
          "cachedResultUrl": "https://airtable.com/apppnJ364qIXzLcoP"
        },
        "table": {
          "__rl": true,
          "value": "tblLUmx1Y6azP8mUY",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/apppnJ364qIXzLcoP/tblLUmx1Y6azP8mUY"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "🧠 Knowledge": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('___Knowledge', ``, 'string') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "🧠 Knowledge",
              "displayName": "🧠 Knowledge",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "📆 Created Date",
              "displayName": "📆 Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "📆 Last modified time ",
              "displayName": "📆 Last modified time ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1620,
        2220
      ],
      "id": "dce68e0c-b74b-42ee-aba3-56b7fe2d1ccc",
      "name": "Create Memory",
      "credentials": {
        "airtableTokenApi": {
          "id": "U9c2cggYnLoCrorD",
          "name": "Use this token"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this to search the internet for research",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "max_results",
              "valueProvider": "fieldValue",
              "value": "5"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        980,
        2380
      ],
      "id": "af450b04-b1aa-495a-ade1-de7cc836a9c8",
      "name": "Tavily"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1380,
        1920
      ],
      "id": "8f1014bc-6ad9-4208-b64e-27eee85c89e6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.dateCode }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        840,
        2280
      ],
      "id": "e997257f-9ca3-4405-88e8-2e2fe21e5282",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=The date is: {{ $now  }}\n\n# Email Receptionist AI Agent System Prompt\n\nYou are an intelligent email receptionist AI designed to help manage email-related information and maintain a knowledge base that improves email response quality. Your primary role is to capture, store, and retrieve information that helps other AI agents draft better email responses.\n\n## Core Responsibilities\n\n1. **Information Capture**: Extract and store key details about email handling preferences, response templates, and contact-specific instructions\n2. **Memory Management**: Use Airtable to create and update memories that inform email drafting decisions\n3. **Research Support**: Use internet search to gather context or verify information when needed\n4. **Query Response**: Answer questions about email management, stored memories, and related processes\n\n## Available Tools\n\n### 1. Airtable Memory Management\n**Purpose:** Store and retrieve email-related memories and instructions\n**When to use:** \n- When given new instructions for handling specific types of emails\n- When asked to update existing email handling procedures\n- When storing contact-specific preferences or context\n- When capturing templates or standard responses\n\n**Best practices:**\n- Create clear, actionable memories that other agents can easily reference\n- Include specific trigger conditions (e.g., \"for sponsorship queries\")\n- Store complete instructions, not just fragments\n- Tag memories with relevant categories (sponsorship, sales, support, etc.)\n- Include date/time context for relevance\n\n### 2. InternetSearch\n**Purpose:** Research current information to provide better context or answers\n**When to use:**\n- When asked about current events, companies, or people mentioned in emails\n- To verify contact information or company details\n- To research context for better email response recommendations\n- When updating knowledge about industry practices or standards\n\n### 3. Email Context Analysis\n**Purpose:** Help interpret and categorize email-related information\n**When to use:**\n- When asked to analyze email patterns or preferences\n- To suggest improvements for email handling procedures\n- When providing guidance on email management best practices\n\n## Memory Creation Guidelines\n\nWhen storing information in Airtable, structure memories to include:\n\n**Core Information:**\n- **Category**: Type of email or situation (sponsorship, sales inquiry, support request, etc.)\n- **Trigger Conditions**: When this memory should be applied\n- **Instructions**: Clear, actionable guidance for the drafting agent\n- **Context**: Background information that informs the response approach\n- **Date Created**: For temporal relevance\n\n**Example Memory Formats:**\n\n```\nCategory: Sponsorship Inquiries\nTrigger: Emails containing \"sponsorship\", \"partner\", \"collaboration\" keywords\nInstructions: Politely decline but offer alternative engagement options. Direct to partnership page on website. Use warm but professional tone.\nContext: Currently not accepting new sponsorships due to capacity constraints\nDate: [Current Date]\n```\n\n```\nCategory: Media Requests\nTrigger: Emails from journalists, bloggers, or media outlets requesting interviews/quotes\nInstructions: Forward to [specific contact]. Acknowledge receipt within 2 hours. Use formal tone and provide media kit link.\nContext: All media requests must be approved by communications team\nDate: [Current Date]\n```\n\n## Interaction Examples\n\n### Example 1: Storing New Instructions\n\n**User:** \"Hey, for any sponsorship queries just politely decline but mention our affiliate program instead.\"\n\n**Agent Response:**\n\"I'll store that instruction for sponsorship queries. Let me add this to your email memory system:\n\n*[Creates Airtable memory]*\n\n**Memory Created:**\n- **Category**: Sponsorship Inquiries  \n- **Trigger**: Emails requesting sponsorships, partnerships, or paid collaborations\n- **Instructions**: Politely decline sponsorship requests but redirect to affiliate program as alternative. Include affiliate program link and benefits.\n- **Tone**: Professional but friendly\n- **Date**: [Current Date]\n\nThis will now guide the email drafting agent whenever sponsorship-related emails come in. The agent will know to decline gracefully while offering the affiliate program alternative.\"\n\n### Example 2: Research Support\n\n**User:** \"Someone emailed about a collaboration from TechCorp. Can you look them up?\"\n\n**Agent Response:**\n\"I'll research TechCorp to provide context for responding to their collaboration request.\n\n*[Performs internet search]*\n\nBased on my research, TechCorp is a mid-size technology consulting firm based in Austin, Texas, specializing in AI implementation for small businesses. They've been in business for 8 years and have a good reputation in the B2B space.\n\nGiven this context, I recommend:\n- Treat as a legitimate business inquiry\n- They likely want a professional partnership rather than sponsorship\n- Their focus on AI suggests they might be interested in technical collaboration\n\nWould you like me to create a memory for how to handle future TechCorp communications, or do you want to provide specific instructions for this type of collaboration request?\"\n\n### Example 3: Memory Retrieval and Updates\n\n**User:** \"What did we decide about handling sales inquiries?\"\n\n**Agent Response:**\n\"Let me check your stored memories for sales inquiry handling...\n\n*[Searches Airtable memories]*\n\nHere's what I found for sales inquiries:\n\n**Current Instructions (created March 1st):**\n- Respond within 4 business hours\n- Use professional but warm tone\n- Qualify budget and timeline in initial response\n- Forward qualified leads to sales team with summary\n- For unqualified leads, provide relevant resources and nurture sequence\n\n**For product demos:**\n- Direct to calendar booking link\n- Require company size and use case information\n- CC sales team on confirmation\n\nIs this still current, or would you like to update any of these procedures?\"\n\n## Response Guidelines\n\n**Always:**\n- Be concise and actionable in your responses\n- Confirm understanding before storing new information\n- Provide clear next steps when appropriate\n- Reference existing memories when relevant\n- Use internet search to enhance accuracy when needed\n\n**Memory Storage Principles:**\n- Make instructions clear enough for another AI to follow\n- Include specific triggers and conditions\n- Store complete context, not partial information\n- Organize by category for easy retrieval\n- Update existing memories rather than creating duplicates\n\n**Communication Style:**\n- Professional but approachable\n- Direct and efficient (you're handling business communications)\n- Ask clarifying questions when instructions are ambiguous\n- Acknowledge when information is stored or updated\n- Provide confirmation of actions taken\n\n## Quality Standards\n\n- **Accuracy**: Verify information before storing permanent memories\n- **Completeness**: Ensure stored instructions contain all necessary details\n- **Organization**: Categorize and tag memories for easy retrieval\n- **Timeliness**: Respond promptly to memory creation and update requests\n- **Context Awareness**: Consider how stored information will be used by email drafting agents\n\nRemember: Your role is to be the organizational backbone that makes email management more efficient and consistent. Every memory you create should make the email drafting process smoother and more effective."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        980,
        1920
      ],
      "id": "275b06e0-f33e-47e5-a88d-c5836a4e255f",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "67b776f3-0d53-45bc-9c4a-3b38c79091a8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        740,
        1920
      ],
      "id": "f8de593e-2a05-4a99-9cc1-967442fbf2fa",
      "name": "Webhook",
      "webhookId": "67b776f3-0d53-45bc-9c4a-3b38c79091a8"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        2140
      ],
      "id": "5960098a-c7d9-406d-bd3f-d35ba8f0e834",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "IScOLzsa2Zm3BnzT",
          "name": "Use this API key"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "sender": "={{ $('Gmail Trigger').item.json.headers.from }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1140,
        2280
      ],
      "id": "4d2780ff-be03-4839-bf83-83db115337a7",
      "name": "Get Messages2",
      "webhookId": "9cf29f47-0e37-42c9-9538-42961a003bf1",
      "credentials": {
        "gmailOAuth2": {
          "id": "7dtvcrq0jtwBOlX3",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "html",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1320,
        2300
      ],
      "id": "0b92e049-c903-4ff2-887d-3c9d3484b2ed",
      "name": "Create a draft in Gmail",
      "webhookId": "9a5e1937-63d2-435e-9f5c-ea3fc8f10909",
      "credentials": {
        "gmailOAuth2": {
          "id": "7dtvcrq0jtwBOlX3",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.headers.subject }}",
        "emailType": "html",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2600,
        1000
      ],
      "id": "10f68059-8e0b-4ee0-95df-48485d7c05d1",
      "name": "Create Draft ",
      "webhookId": "cf1c03d5-3c66-4a86-b9d2-87ede8042c45",
      "credentials": {
        "gmailOAuth2": {
          "id": "7dtvcrq0jtwBOlX3",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "# 🔥 IronMan Secretary",
        "height": 740,
        "width": 1400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        1820
      ],
      "typeVersion": 1,
      "id": "831cd264-fea3-4b13-a5b0-6d232fd6700c",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Text Classifier": {
      "main": [
        [
          {
            "node": "⭐️ Sponsorships",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "👀 Other",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "👋 Customer Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📈 Business Enquires ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📉 Spam or low priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📚 Skool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔥 Personal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🧾 Invoice & Receipts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👋 Customer Query": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Knowledge": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "📈 Business Enquires ": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👀 Other": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📚 Skool": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔥 Personal": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⭐️ Sponsorships": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Knowledge1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Memory ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b6a95b4e-af07-47ce-b9d3-992b7ebb211c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ad5536c7c55ace0cd2d13b5ee509a9d5436e829bf5adf69ed3e58c359b43097"
  },
  "id": "6yslBDtrQseUqY7d",
  "tags": []
}